version: '2'

services:
  nrf:
    container_name: nrf
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - NRF_CONNECT_TAG=v3.0.2
        - ZEPHYR_NEEDED_TAG=0.17.0
        - ZEPHYR_ARCHIVE_EXTENSION=gz
